style
*{
    margin: 0;
    padding: 0;
    box-sizing: sans-serif;
    font-weight: lighter;
}
.flex{
    display: flex;
    align-items: center;
}
.container1{
    width: 100%;
    height: 65px;
    border-radius: 15px;
    color: antiquewhite;
    background:rgb(64, 64, 64);
}
nav{
    margin: 0 10px;
   
}
u1{
    list-style: none;
    margin: 20px;
    font-size: 20px;
    
}

li{
   margin: 0 10px;
   cursor: pointer; 
}
.container2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container3{
    position: absolute;
    top: 100%;
    left: 10%;
    font-size: 30px;

}
.log-button{
    text-decoration: none;
    padding: 10px;
    font-size: 35px;
    margin: 5px;
    border-radius: 20px;    
}
.login{
    color: black;
    background: antiquewhite;  
}
.register{
    color: black;
    background: antiquewhite;
}
